h1 { 
    color: green; 
    background-color: yellow;
}

p {
    font-size: 1em;
    /* font-size: 2em; */
}

img {
    width: 200px;
}


/* TicTacToe */

#bigdiv {
    background-color: orange;
}


#row {
    display: flex;
    flex-direction: row;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
  
.square:focus {
    outline: none;
}
