/* 
    1 what it is you are trying to style,
    2 what the style should be or look like. 
*/

.first {
    color: green;
}

.second {
    color: blue;
}

.third {
    color: yellow;
}